@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;
/*
  Media
*/
.c-media {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    position: relative;
    display: grid;
    grid-template-columns: calc(270 / 768 * 100vw) 1fr;
    grid-template-rows: repeat(1, 1fr);
    column-gap: pxToRem(40px);
  }

  @include mq(lg) {
    grid-template-columns: calc(327 / 1024 * 100vw) 1fr;
  }

  @include mq(xl) {
    grid-template-columns: calc(327 / 1280 * 100vw) 1fr;
  }

  @include mq(xxl) {
    grid-template-columns: calc(327 / 1920 * 100vw) 1fr;
  }

  &__body {
    width: 100%;
    color: inherit;
    text-decoration: none;
    display: block;
    padding-block-start: pxToRem(16px);
    cursor: pointer;

    @include mq(md) {
      grid-area: 1 / 2 / 2 / 3;
      padding-block-start: 0;
    }

    &:hover + .c-media__thumbnail img {
      transform: scale(1.1);
      transition: var(--duration1) var(--ease3);
      transition-property: transform;
      transform-origin: center center;
    }
  }

  &__title {
    font-size: clamp(18 / 16 * 1rem, 1rem + 0.63vw, 24 / 16 * 1rem); //320-1280
    letter-spacing: 0.08em;
    line-height: 1.44;
    font-weight: 500;

    @include mq(md) {
      line-height: 1.45;
    }
  }

  &__date {
    padding-block: pxToRem(10px) clamp(16 / 16 * 1rem, 0.643rem + 1.79vw, 24 / 16 * 1rem); //320-768
    letter-spacing: 0.05em;
    font-family: $font-set-secondary;
    font-weight: 300;
    font-size: pxToRem(14px);

    @include mq(md) {
      padding-block: pxToRem(10px) clamp(24 / 16 * 1rem, 3.13vw, 40 / 16 * 1rem); //320-768
    }
  }

  &__text {
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem); //320-1280
    letter-spacing: 0.08em;
    line-height: 1.733;

    @include mq(md) {
      line-height: 1.75;
    }

    @include mq(lg) {
      line-height: 2;
    }
  }

  &__thumbnail {
    position: relative;
    flex-shrink: 0;
    order: -1;
    width: 100%;
    aspect-ratio: 288 / 222;
    overflow: hidden;

    @include mq(md) {
      aspect-ratio: 270 / 239;
      grid-area: 1 / 1 / 3 / 2;
    }

    @include mq(lg) {
      aspect-ratio: 327 / 245;
    }

    & img {
      width: 100%;
      max-inline-size: initial;
      height: 100%;
      object-fit: cover;
      object-position: right center;
      transition: var(--duration1) var(--ease3);
      transform: scale(1);
      transition-property: transform;
      transform-origin: center center;
    }
  }
}

.c-media__categories {
  padding-block-start: clamp(16 / 16 * 1rem, 0.667rem + 1.67vw, 32 / 16 * 1rem);
  display: flex;
  gap: pxToRem(24px); //320-1280
  align-items: center;
  justify-content: flex-start;

  @include mq(md) {
    grid-area: 2 / 2 / 3 / 3;
  }

  &.-single {
    padding-block-start: 0;

    @include mq(md) {
      grid-area: initial;
    }
  }

  & a {
    text-decoration: none;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem);
    letter-spacing: 0.08em;
    transition: var(--duration2) var(--ease5);
    transition-property: opacity;
    opacity: 1;

    &:hover {
      opacity: 0.6;
      transition: var(--duration2) var(--ease5);
      transition-property: opacity;
    }
  }
}
