@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;
/*
  pagination
*/

.nav-links {
  display: flex;
  gap: pxToRem(24px);
  justify-content: center;
  align-items: center;
  margin-block-start: pxToRem(64px);
  font-family: $font-set-secondary;
  font-weight: 400;
  font-size: clamp(15 / 16 * 1rem, 0.917rem + 0.1vw, 16 / 16 * 1rem);

  &.current {
    font-weight: 500;
    color: $primary-text-color;
  }

  & a {
    text-decoration: none;
    color: $tertiary-text-color;
  }
}
